@import "tailwindcss";
@plugin "daisyui";

.input {
  @apply w-full border border-gray-300 px-3 py-2 text-sm outline-none bg-white text-black placeholder:text-gray-500;
}

.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0px !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0px;
}